// Import the functions you need from the SDKs you need
import { initializeApp } from "firebase/app";
// TODO: Add SDKs for Firebase products that you want to use
// https://firebase.google.com/docs/web/setup#available-libraries

// Your web app's Firebase configuration
const firebaseConfig = {
  apiKey: "AIzaSyDp6gO1dz5gsqMNm5Blz7xYn2SBEi3VUvY",
  authDomain: "review-insights-xqt3o.firebaseapp.com",
  projectId: "review-insights-xqt3o",
  storageBucket: "review-insights-xqt3o.firebasestorage.app",
  messagingSenderId: "996462962011",
  appId: "1:996462962011:web:753af307669e60685fa67e"
};

// Initialize Firebase
const app = initializeApp(firebaseConfig);