@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --background: 210 40% 98%;
    --foreground: 222.2 84% 4.9%;
    --card: 210 40% 98%;
    --card-foreground: 222.2 84% 4.9%;
    --popover: 210 40% 98%;
    --popover-foreground: 222.2 84% 4.9%;
    --primary: 210 100% 45%; /* A calm blue (#6699CC) */
    --primary-foreground: 210 40% 98%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 120 25% 65%; /* A muted green (#8FBC8F) */
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 210 100% 45%;
    --radius: 0.8rem;
    --chart-1: 120 25% 65%; /* accent green */
    --chart-2: 0 70% 60%; /* red */
    --chart-2-hsl: 0 70% 60%;
    --chart-3: 45 74% 60%; /* yellow */
    --chart-4: 25 85% 65%; /* orange */
    --chart-4-hsl: 25 85% 65%;
    --chart-5: 210 100% 45%; /* primary blue */
    --chart-positive: 210 100% 55%;
    --chart-negative: 25 85% 65%;
  }
  .dark {
    --background: 204 9% 19%; /* A very dark, desaturated blue */
    --foreground: 210 40% 98%;
    --card: 204 9% 24%;
    --card-foreground: 210 40% 98%;
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
    --primary: 210 100% 60%; /* A calm blue (#6699CC) */
    --primary-foreground: 222.2 47.4% 11.2%;
    --secondary: 204 9% 27%;
    --secondary-foreground: 210 40% 98%;
    --muted: 204 9% 27%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 120 25% 70%; /* A muted green (#8FBC8F) */
    --accent-foreground: 210 40% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 204 9% 32%;
    --input: 204 9% 32%;
    --ring: 210 100% 60%;
    --chart-1: 120 25% 70%; /* accent green */
    --chart-2: 0 70% 65%; /* red */
    --chart-2-hsl: 0 70% 65%;
    --chart-3: 45 74% 65%; /* yellow */
    --chart-4: 25 85% 70%; /* orange */
    --chart-4-hsl: 25 85% 70%;
    --chart-5: 210 100% 60%; /* primary blue */
    --chart-positive: 210 100% 60%;
    --chart-negative: 25 85% 70%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
